.hidden {
  display: none;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* CONTAINER STYLES */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* HEADER STYLES */

.header-box {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item,
address,
.icon-container {
  display: none;
}

.header-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.logo-studio {
  color: #2e2f42;
}

.menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .menu-box {
    display: flex;
    align-items: center;
  }

  .list-item {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .menu-box ul li {
    display: inline-block;
  }

  .menu-item {
    font-weight: 500;
    color: #2e2f42;
  }

  .menu-studio:hover,
  .menu-studio:focus {
    color: #404bbf;
  }

  .link-itm-studio {
    position: relative;
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-itm-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .link-itm-portfolio {
    position: relative;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .link-itm-contacts {
    position: relative;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .link-itm-studio:hover,
  .link-itm-studio:focus {
    color: #404bbf;
  }

  .link-itm-portfolio:hover,
  .link-itm-portfolio:focus {
    color: #404bbf;
  }

  .link-itm-contacts:hover,
  .link-itm-contacts:focus {
    color: #404bbf;
  }

  .list-addr {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-itm {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-itm:hover,
  .address-itm:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .list-addr {
    flex-direction: row;
    gap: 40px;
  }

  .address-itm {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .address-itm:hover,
  .address-itm:focus {
    color: #404bbf;
  }
}

/* MOBILE MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mob-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-btn:hover,
.mob-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mob-btn-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  margin-bottom: auto;
}

.link-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-social-icon {
  width: 280px;
  height: 40px;
  margin-top: auto;
}

.mob-social-media-links {
  display: flex;
  gap: 40px;
}

.mob-first-media {
  width: 40px;
  height: 40px;
}

.mob-all-media {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-media-fill {
  fill: #f4f4fd;
}

.link-item:hover,
.link-item:focus {
  color: #404bbf;
}

.mob-address-item:hover,
.mob-address-item:focus {
  color: #404bbf;
}

/* MOBILE HERO */

.section-one {
  max-width: 320px;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image/hero-mob2x.jpg);
  }
}

.section-one-cont {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-head-one {
  display: flex;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  max-width: 160px;
  margin: 0px auto;
}

.button {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .section-one {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image/hero-tablet.jpg);
  }

  @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image/hero-tablet2x.jpg);
    }
  }

  .section-head-one {
    font-size: 56px;
    max-width: 496px;
  }

  .section-one-cont {
    gap: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-one {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image/hero-desktop.jpg);
  }

  @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image/hero-desktop2x.jpg);
    }
  }

  .section-head-one {
    max-width: 496px;
  }

  .section-one-cont {
    gap: 48px;
  }
}

/* SECTION TWO */

.section-two {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-head-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}

.section-text-two {
  font-weight: 500;
  color: #434455;
}

.list-sec-two {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .section-head-two {
    text-align: left;
  }

  .list-sec-two {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .list-item-two {
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .section-head-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-text-two {
    font-weight: 400;
  }

  .list-sec-two {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/* SECTION THREE */

.section-our-team {
  background-color: var(--cloud);
  padding: 96px 0;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: var(--navy-blue);
  padding-bottom: 72px;
}

.list-sec-three {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  border-radius: 0px 0px 4px 4px;
}

.list-item-three {
  padding: 32px 0;
}

.card-header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding-bottom: 8px;
}

.card-text-three {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  padding-bottom: 8px;
}

.social-list-all-cards {
  width: 40px;
  height: 40px;
  fill: var(--iris);
}

.social-fill {
  fill: #f4f4fd;
}

.cards-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-backcolor {
  background-color: #ffffff;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-list-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .list-sec-three {
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .section-our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
  }

  .list-item-three {
    padding: 32px 0;
  }
}

/* OUR PORTFOLIO */

.section-four {
  padding: 96px 0;
}

.list-sec-four {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 48px;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-item-list:hover .overlay-text {
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.card-text-sec {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.first-item-list {
  width: calc ((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-item-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .list-sec-four {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .list-sec-four {
    row-gap: 72px;
    column-gap: 24px;
  }
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
  max-width: 320px;
  margin: 0 auto;
}

.footer-contain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  max-width: 115px;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  width: 264px;
  margin-top: 0px;
  margin-bottom: 72px;
  color: var(--cloud);
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 16px;
}

.social-media-links {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-text {
  font-weight: 500;
  color: var(--white);
  padding-bottom: 16px;
}

.forma {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.first-media {
  width: 40px;
  height: 40px;
}

.all-media {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-media:hover,
.all-media:focus {
  background-color: #31d0aa;
}

.social-media-fill {
  fill: #f4f4fd;
}
.inp-email {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  opacity: 0.6;
  border-radius: 4px;
  color: #ffffff;
}

.btnsubmit {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icon-send {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .footer-contain {
    align-items: start;
    padding-left: 92px;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .social-container {
    align-items: start;
  }

  .social-media-links {
    margin-bottom: 0;
  }

  .subscribe {
    align-items: start;
    padding-top: 72px;
    padding-left: 92px;
  }

  .forma {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .inp-email {
    width: 264px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    max-width: 1440px;
    padding: 100px 0;
    margin: 0 auto;
  }
  .footer-container {
    column-gap: 0;
  }

  .footer-contain {
    padding-left: 0;
  }

  .social-container {
    padding-left: 120px;
  }

  .subscribe {
    padding-left: 80px;
    padding-top: 0;
  }

  .inp-email {
    width: 264px;
    opacity: 0.3;
  }

  .forma {
    gap: 24px;
  }
}

/* MODAL WINDOW */

.backmodal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backmodal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px 16px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.btn-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: #ffffff;
}

.modal-btn:focus {
  fill: #ffffff;
}

.modal-paragraf {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-container {
  margin-bottom: 8px;
}

.forms-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container-name {
  position: relative;
  width: 256px;
  height: 40px;
}

.input-form:focus {
  border-color: #4d5ae5;
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus + .icon-person {
  fill: #4d5ae5;
}
.input-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus {
  border-color: #4d5ae5;
}

.comment-box {
  margin-bottom: 16px;
}

.terms-field-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.user-privacy-input {
  cursor: pointer;
}

.user-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.user-privacy-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  background-color: transparent;
  margin-right: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input[type="checkbox"]:checked + label span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.pp-link {
  color: #4d5ae5;
  padding-left: 24px;
}

.send-form-btn {
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  min-width: 169px;
  cursor: pointer;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.send-form-btn:hover,
.send-form-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal-window {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
  .container-name {
    width: 360px;
  }

  .pp-link {
    color: #4d5ae5;
    padding-left: 0;
  }
}
@media screen and (min-width: 1158px) {
}
